<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Secrets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% for m in messages %}
            <p>{{m}}</p>
        {% endfor %}

        <h1>Hello {{ request.session.first_name.title }}</h1>

        <form action="{% url 'secrets:post_secret' %}" method="POST">
        {% csrf_token %}
            <textarea name="secret" rows="8" cols="40" placeholder="Your secret here..."></textarea>
            <br>
            <input type="submit" name="submit" value="Post">
            <a href="{% url 'secrets:most_popular' %}">Most Popuar Secrets</a>
        </form>

        {% for secret in secrets %}
            <p>
        
                {{secret.secret}} ({{ secret.total_likes }} - Likes)
                    <!--<input type="text" name="" value="session id = {{ request.session.user_id }}">
                    <input type="text" name="" value="secret id = {{ secret.id }}">-->

                {% if secret.user.id != request.session.user_id %}   
                    
                         <!--<input type="" name="" value="like.secret_id = {{ like.secret_id }}">      
                         <input type="" name="" value="secret.id = {{ secret.id }}">  
                         <input type="" name="" value="like.user_id = {{ like.user_id }}"> 
                         <input type="" name="" value="session.user_id = {{ request.session.user_id }}">-->
                         {% for flag in flags %}
                         <!--<p>Secret.id = {{secret.id}} Flag.secret = {{flag.secret}}</p>
                         <p>Flag.flag = {{flag.flag}}</p>-->
                         {% if flag.flag == "true" and flag.secret == secret.id%}
                        <a href="{% url 'secrets:likes' secret_id=secret.id %}">Like</a>
                        {% endif %}
                        {% endfor %}
                        
                        
                    
                {% endif %}
            {% if secret.user.id == request.session.user_id %}
                You posted this <a href="{% url 'secrets:delete' secret_id=secret.id %}">Delete</a>
            {% endif %}
            </p>
            <hr>
        {% endfor %}

       <button type="reset"><a href="{% url 'login:logout' %}">Logout</a></button>
    </body>
</html>