<h1>Products#index</h1>
<form action="/products" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <textarea name='description'></textarea>
    <input type='submit' value='Create'>
</form>

<table>
	<tr>
		<td>Name</td>
		<td>Description</td>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
	</tr>
	<% end %>
</table>
