<html>
    <head>
        <title>Dojo Form</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/myStyles.css')}}">
    </head>
    <body>
        <h1>Dojo Form!</h1>
        <form action="">
            <label>Label One</label>
            <input type="input" placeholder="Enter Something">
            <br>
            <label>Label Two</label>
            <input type="input" placeholder="Enter Something Else">
            <br>
            <button>Submit Something</button>
        </form>
    </body>
</html>