<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Results Page!</h1>
        <button type="submit"><a href="/">Home</a></button>
        <h3>Submitted Information</h3>
        Name: <%= info.name %>
        <br>
        Location: <%= info.location %>
        <br>
        Language: <%= info.language %>
        <br>
        Comments: <%= info.comment%>
        <br>
    </body>
</html>