<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<title>Friends API</title>
</head>
<body>
	<section ng-view></section>

	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	
	<script type="text/javascript" src="/friends/friends.client.module.js"></script>
	<script type="text/javascript" src="/friends/controllers/friends.client.controller.js"></script>
	<script type="text/javascript" src="/friends/services/friends.client.service.js"></script>
	<script type="text/javascript" src="/friends/config/friends.client.routes.js"></script>

	<script type="text/javascript" src="/application.js"></script>
</body>
</html>