<html>
    <head></head>
    <body>
        <h1>We are home!</h1>
        <a href="/indiana">Indiana</a>
        <br>
        <a href="/california">California</a>
        <br>
        <a href="/newyork">New York</a>
        <br>
        {% if session.user_name %}
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/login">Log In</a>
        {% endif %}
        <br>
            {{ session['user_name'] }}
        <br>
        {% for location in session['trip_history'] %}
        {{ location }}
        <br>
        {% endfor %}
    </body>
</html>