<h3>Put the question and options here:</h3>
<span><a ng-href = '#/dashboard'>Cancel</a></span>
<form ng-model = "cp.poll_question" ng-submit = 'cp.create()'>
    <li><input type="text"  ng-model = "cp.poll_question.question"></li>
  <ul>
    <li>Question 1:<input type="text" ng-model = "cp.answers[0]"></li>
    <li>Question 2:<input type="text" ng-model = "cp.answers[1]"></li>
    <li>Question 3:<input type="text" ng-model = "cp.answers[2]"</li>
    <li>Question 4:<input type="text" ng-model = "cp.answers[3]"></li>
    <li><input type="submit" value = 'submit'></li>
  </ul>
</form>
