<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/mongooses/new">New</a>
        </nav>
        <br>
        <h1>New Page</h1>
        <br>
        <form action="/mongooses" method="POST">    
            <label for="name">Name Mongoose:</label>
            <input type="text" name="name" placeholder="Enter a Name">
            <br>
            <label for="age">Age:</label>
            <input type="text" name="age" placeholder="Enter Age">
            <br>
            <label for="weight">Weight:</label>
            <input type="text" name="weight" placeholder="Enter Weigt">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>