<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Submitted Information</h2>
        
            <p>Name: <%= info.name %></p>
            <p>Location: <%= info.location %></p>
            <p>Language: <%= info.language %></p>
            <p>Comment: <%= info.comment %></p>
        
        <br>
        <button type="submit"><a href="/">Go Back</a></button>
    </body>
</html>