<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Most Popular Secrets...</h1> <a href="/back">Back</a>
        {% for secret in secrets %}
        <form action="/delete" method="POST">
            <p>{{ secret.secret }}  ({{ secret.created_at }}) {{ secret.like_count }} - Likes
            {% if secret.user.id == request.session.user_id %}
            <a href="/delete/{{ secret.id }}" >Delete</a></p>
            {% endif %}
            {% if secret.user.id != request.session.user_id %}
            <a href="/like">Like</a>
        </form>
            {% endif %}
        <hr>
        {% endfor %}
    </body>
</html>