<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if request.session.user_id %}
            <h1>Hello, {{request.session.first_name.title}}</h1>
        {% endif %}
        <form action="/post_secret" method="POST">
        {% csrf_token %}
        <textarea rows="6" cols="50" name="html_secret" placeholder="Enter a secret"></textarea>
        <br>
        <input type="submit" name="post" value="Post Secret">
        </form>
        <br>
        <a href="/most_popular">Most Popular Secrets</a>
        <h3>Recent Secrets...</h3>
        {% for secret in secrets  %} 
            <p>{{ secret.secret }} ({{ secret.created_at|time}} minutes ago)</p> 
            <form action="/like" method="POST">
            {% csrf_token %}
            <input type="hidden" name="html_secret_id" value="{{ secret.id }}">
            {{ secret.like_count }} - Likes

            {% for like in likes %}
            <p>Likes user id {{like.user.id}}
                {% if like.user.id == request.seession.user_id %}
                <p>Likes user id equls session id</p>
                {% endif %}
            {% endfor %}

            <!--<input type="submit" name="html_like" value="Like">-->
            
            
         

            {% if secret.user.id == request.session.user_id%}
            <a href="/delete/{{ secret.id }}" >Delete</a>
            {% endif %}
            </form>
            <hr>
        {% endfor %}
        <form action="/logout" method="POST">
        {% csrf_token %}
            <input type="submit" name="logout" value="Log Out">
        </form>
    </body>
</html>