<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/users" method="POST">
            First Name: <input type="text" name="first_name" value="">
            <br>
            LastName: <input type="text" name="last_name" value="">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>