<form ng-submit="create()">
    First Name: <input type="text" ng-model="user.firstName">
    <br>
    Last Name: <input type="text" ng-model="user.lastName">
    <br>
    Favorite Language: <input type="text" ng-model="user.language">
    <br>
    <button type="submit">Create User</button>
</form>
<br>
 <table>
    <thead>
        <tr>
            <th>First Name</th>
            <th></th>
            <th>Last Name</th>
            <th></th>
            <th>Fav. Language</th>
            <th></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.firstName }}</td>
            <td></td>
            <td>{{ user.lastName }}</td>
            <td></td>
            <td>{{ user.language }}</td>
            <td></td>
            <td><button ng-click="delete($index)">Delete</button></td>
        </tr>
    </tbody>
</table>