<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cars Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Cars Page</h1>
        <nav>
            <button type="submit"><a href="/">Home</a></button>
            <button type="submit"><a href="/cats">Cats</a></button>
            <button type="submit"><a href="/cars/new">New Car</a></button>
        </nav>
        <br>
        <img src="images/cars/car1.jpeg">
        <img src="images/cars/car2.jpeg">
        <img src="images/cars/car3.jpeg">
        <img src="images/cars/car4.jpeg">
    </body>
</html>