<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cats Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Cats Page</h1>
        <nav>
            <button type="submit"><a href="/">Home</a></button>
            <button type="submit"><a href="/cars">Cars</a></button>
            <button type="submit"><a href="/cars/new">New Car</a></button>
        </nav>
        <img src="images/cats/cat1.jpeg">
        <img src="images/cats/cat2.jpeg">
        <img src="images/cats/cat3.jpeg">
        <img src="images/cats/cat4.jpeg">
    </body>
</html>