<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Car</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>New Car Page</h1>
        <nav>
            <button type="submit"><a href="/">Home</a></button>
            <button type="submit"><a href="/cats">Cats</a></button>
            <button type="submit"><a href="/cars">Cars</a></button>
        </nav>
        <br>
        <form>
            <label for="name">Car Name:</label>
            <input type="text" name="name" placeholder="Enter Car Name">
            <br>
            <label for="car">Choose Picture:</label>
            <input type="file" name="car" value="">
            <br>
            <input type="submit" name="" value="Add Car">
        </form>
    </body>
</html>