<form>
    <select>
        <option value="name">Name</option>
    </select>
    <select>
        <option value="team">Team</option>
    </select>
    <button type="submit">Assign Player to Team</button>
</form>
<br>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Team</th>
            <th></th>
            <th>Action</th>
        </tr>
    </thead>
     <tbody>
        <tr>
            <td>Name</td>
            <td></td>
            <td>Team</td>
            <td></td>
            <td><button type="submit">Clear Assignment</button></td>
        </tr>
    </tbody>
</table>