<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Playlist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {% for m in messages %}
        <p>{{m}}</p>
        {% endfor %}
        <h1>Add a Playlist</h1>
        <form action="{% url 'pytunes:add' %}" method="POST">
        {% csrf_token %}
            <label for="">Enter Playlist</label>
            <input type="text" name="playlist_name" value="">
            <input type="submit" name="" value="Create">
        </form>
        <table>
            <tr>
                <th>Playlist Name</th>
                <th>Song Count</th>
                <th>Date Created</th>
            </tr>
            {% for p in playlist %}
            <tr>
                <td>{{p.name}}</td>
                <td><a href="{% url 'pytunes:add_song' playlist_id=p.id %}">Song Name</a></td>
                <td>{{p.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>