<h1>New Form</h1>

<form action="/dojos/create" method="POST">
	<input type="hidden" name="authenticity_token" value="authenticity_token">
	<label>Branch: </label>
	<input type="text" name="dojo[branch]" value="">
	<br>
	<label>Street: </label>
	<input type="text" name="dojo[street]" value="">
	<br>
	<label>City: </label>
	<input type="text" name="dojo[city]" value="">
	<br>
	<label>State: </label>
	<input type="text" name="dojo[state]" value="">
	<br>
	<input type="submit" name="" value="Create">
</form>