<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% for m in messages %}
        <p>{{m}}</p>
        {% endfor %}
        <form action="/login" method="POST">
            {% csrf_token %}
            <h2>Login</h2>
            <label for="html_email">Email:</label>
            <input type="text" name="html_email" placeholder="Enter an email address">
            <br>
            <label for="html_password">Password:</label>
            <input type="password" name="html_password" placeholder="Enter a password">
            <br>
            <input type="submit" name="login" value="Login">
        </form>

        <form action="/register" method="POST">
            {% csrf_token %}
            <h2>Register</h2>
            <label for="html_first_name">First Name:</label>
            <input type="text" name="html_first_name" placeholder="Enter your first name">
            <br>
            <label for="html_last_name">Last Name:</label>
            <input type="text" name="html_last_name" placeholder="Enter your last name">
            <br>
            <label for="html_email">Email:</label>
            <input type="text" name="html_email" placeholder="Enter an email address">
            <br>
            <label for="html_password">Password:</label>
            <input type="password" name="html_password" placeholder="Enter a password">
            <br>
            <label for="html_confirm">Confirm:</label>
            <input type="password" name="html_confirm" placeholder="Confirm your password">
            <br>
            <input type="submit" name="register" value="Register">
        </form>
    </body>
</html>