<section data-ng-controller="FriendsController" data-ng-init="find()">
	<h1>Friends</h1>
	<ul>
		<li data-ng-repeat="friend in friends">
			<a data-ng-href="#!/friend/{{friend._id}}" data-ng-bind="friend.title"></a>
			<br>
			<small data-ng-bind="friend.created | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="friend.creator.fullName"></small>
			<p data-ng-bind="friend.content"></p>
		</li>
	</ul>
	<div data-ng-hide="!friends || friends.length">
		No friends yet, why don't you <a href="/#!/friends/create">create one</a>?
	</div>
</section>