<!--<section data-ng-controller="FriendsController" data-ng-init="findOne()">
    <h1 data-ng-bind="friend.firstName"></h1>-->
    <!--<div data-ng-show="authentication.user._id == friend.creator._id">-->
    <!--<div>
        <a href="/#!/friends/{{friend._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete();">delete</a>
    </div>-->
    <!--<small>
        <em>Posted on</em>
        <em data-ng-bind="friend.created | date:'mediumDate'"></em>
        <em>by</em>
        <em data-ng-bind="friend.creator.fullName"></em>
    </small>
    <p data-ng-bind="friend.content"></p>-->
<!--</section>-->