<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form>
            <h2>Add a new course</h2>
            <label for="html_name">Name:</label>
            <input type="text" name="html_name" placeholder="Enter Course Name">
            <br>
            <label for="html_description">Description:</label>
            <br>
            <textarea rows="8" cols="75" placeholder="Enter a Description"></textarea>
            <br>
            <input type="submit" name="" value="Add">
            <br>
        </form>
    </body>
</html>