<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <label>Your Gold:</label>
            <input type="text" disabled value={{ session.gold }}></input>
            <div>
                <p>Farm</p>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="building" value="farm"/>
                    <input type="submit"/>
                </form> 

                 <p>Cave</p>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="building" value="cave"/>
                    <input type="submit"/>
                </form> 

                <p>House</p>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="building" value="house"/>
                    <input type="submit"/>
                </form> 

                <p>Casino</p>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="building" value="casino"/>
                    <input type="submit"/>
                </form> 
            <label>Activites:</label>
            <br>
            {% for message in session['messages'] %}
            {{ message }}
            <br>
            {% endfor %}
        </div> <!--WRAPPER-->
    </body>
</html>