<html>
    <head>
        <title>The Great Number Game</title>
    </head>
    <body>
        <h1>Welcome to the Great Number Game</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess</p>
        <p>Winning number {{ session['winning_number'] }}</p>
        <p>The form guess is {{ guess }}</p>
        <h1>Too Low</h1>
        <form method="post" action="/">
            <input type="hidden" name="action" value="">
            <input type="text" name="guess">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>