<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% for m in messages %}
            {{m}}
        {% endfor %}
        <br>
        <button><a href="{% url 'reviewer:index' %}">Home</a></button>
        <button><a href="{% url 'reviewer:add' %}">Add Book and Review</a></button>
        <button><a href="{% url 'login:logout' %}">Logout</a></button>
        <h1>Reviewer App Users Page</h1>
    </body>
</html>